// font-size

$font-s1: 8px;
$font-s2: 12px;
$font-s3: 16px;
$font-s4: 20px;
$font-s5: 24px;
$font-s6: 28px;


// color

$color-white-1: #fff;
$color-white-2 :#f8f9fa;

$color-black-1: #000;
$color-black-2: rgba(0, 0, 0, 0.374);
$color-black-3: rgba(0,0,0,0.9); 

$color-grey-1: rgba(255, 255, 255, 0.7);
$color-grey-2: #6c757d;
$color-grey-3: rgba(240, 229, 229, 0.524);

$color-brown-1: #21292745;
$color-brown-2: rgb(41, 22, 22);
$color-yellow-1:#f8a42a;

$color-green-1: #fab95b;

// box-shadow variables
$shadow-navbar: 0px 1px 20px 0px rgba(231,166,26,1);
